.galleryWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    height: 100%;
    flex-direction: column;
}
.top {
    padding-top: 50vh;
}
.image-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10vw;
    align-items: center;
    height: 200vh;
}
.image-wrapper h2{
    font-weight: 100;
}
.img{
    border-radius: 9px;
}

.one{
    max-width: 50vw;
}
.two{
    max-width: 50vw;
}

@media screen and (max-width: 400px) {
.galleryWrapper{
    height: 200vh;
    
}
.image-wrapper{
    display: flex;
    width: 80vw;
    flex-direction: column-reverse;
    gap: 0;
    height: 40vh;
    padding-bottom: 10vh;
    padding-top: 10vh;
}
.caption{
    height: 50vh;

}
.img{
     max-width: 50vh;
}
.three{
    padding-top:100vh;
}
.portraits{
    padding-top: 110vh;
}
.top{
    padding: 0;
}
.end{
    padding-top: 100vh;
}

}